@{
    ViewBag.Title = "MediTrain South - First Aid Training";
}
<div id="index-banner" class="parallax-container overlayBackgroundColor" style="">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header orange-text text-lighten-5 header-top-0 m-center" style="font-size: 3.4rem;">
                About Meditrain South First Aid Training
            </h1>
            <div class="header white-text light">
                <p class="" style="padding-left:0px;">
                    Meditrain South First Aid courses can be tailored based on the particular needs of your business and can take place at your premises or at Meditrain's own training facilities.
                </p>
            </div>
            <div class="row m-center">
                <div class="col l1 hide-on-small-only"></div>
                <a href="#firstAidTraining" class="btn-large waves-effect waves-light indigo lighten-1">
                    More Info
                </a>
                <a href="tel:+64277477695" id="PhoneUs-button" class="font-weight-bold transparent btn-large">
                    Phone us<span class="hide-on-med-and-down">: 027 747 7695</span>
                </a>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="~/lib/images/banner-first-aid-training.jpg" alt="First Aid Training Meditrain South" style="transform: translate3d(-50%, 230.533px, 0px); opacity: 1;"></div>
</div>

<div class="padding-2 z-depth-2">
    <h3></h3>
</div>
<div class="row z-depth-2 valign-wrapper-m-and-above" style="padding-top:30px;padding-bottom:20px;">
    <div id="firstAidTraining" class="col m7">
        <div class="container" style="text-align:justify">
            <h4 style="text-align:left" class="font-weight-bold">About our first aid training</h4>
            <p class="indigo-text font-weight-bold">
                Meditrain South First Aid courses can be tailored based on the particular needs of your business and can take place at your premises or at Meditrain's own training facilities.
            </p>
            <p>
                Both the 16-hour Workplace First Aid Course and the 8-hour Workplace First Aid Refresher course comply with the requirements for the training of First Aid personnel contained in the Health & Safety at Work act 2015 and Regulations 2016

            </p>
            <p>
                The refresher must be completed every two years to ensure that First Aid personnel maintain their skills and are updated with new protocols and procedures.
            </p>
        </div>
    </div>
    <div class="col m4 pull-m1">
        <div class="row">
            <a href="#advancedTraining" class="btn waves-effect waves-light btn-block">Advanced Training</a>
            <a href="#workplaceHealthSafetyTraining" class="btn waves-effect waves-light margin-y-1">Workplace Health & Safety Training</a>
            <a href="#otherTraining" class="btn waves-effect waves-light ">Other Training</a>
        </div>
    </div>
</div>
<div class="card-panel" style="margin-bottom:0px;margin-top:0px;">
    <h5 class="indigo-text" id="advancedTraining">Advanced Training</h5>
    <dl>
        <dt class="font-weight-bold">Pre-Hospital Emergency Care</dt>
        <dd style="margin-top:10px;margin-bottom:10px;text-align:justify">MediTrain South staff include professionals in the Pre-Hospital Emergency Care field - this allows us to offer a range of courses that cover
         many aspects of advanced care - for example, Pre-Hospital Emergency Care. Many of our courses meet the requirements of the relevant standards setting body.</dd>
        <dt class="font-weight-bold">Dentists</dt>
        <dd style="margin-top:10px;margin-bottom:10px;">We also have a specific Advanced Course for Dental Professionals.</dd>
    </dl>
</div>
<div class="card-panel" style="margin-bottom:0px;margin-top:0px;">
    <h5 class="indigo-text" id="workplaceHealthSafetyTraining">Workplace Health & Safety training</h5>
    <dl>
        <dt class="font-weight-bold">Comprehensive Workplace First Aid</dt>
        <dd style="margin-top:10px;margin-bottom:10px;text-align:justify">
            MediTrain South can help you to promote workplace safety. We offer training to Unit Standard 497 to train your personnel in Health & Safety.
        </dd>
    </dl>
</div>
<div class="card-panel" style="margin-bottom:0px;margin-top:0px;">
    <h5 class="indigo-text" id="otherTraining">Other Training</h5>
    <dl>
        <dt class="font-weight-bold"></dt>
        <dd style="margin-top:10px;margin-bottom:10px;text-align:justify">
            MediTrain South can provide Fire Safety and Awareness, Floor Warden and Suppress Fire with Hand Extinguishers Courses.
        </dd>
    </dl>
    <a asp-controller="Contact" asp-action="Index" class="btn">Contact Us to find out more</a>
</div>