@{
    ViewBag.Title = "MediTrain South - Meditrain For Schools";
}
<div id="index-banner" class="parallax-container parallax-container-customHeight overlayBackgroundColor" style="">
    <div class="section">
        <div class="container">
            <br>
            <h1 class="header orange-text text-lighten-5 header-top-0 m-center" style="font-size: 3.4rem;">
                Meditrain For Schools
            </h1>
            <div class="header white-text light">
                <p class="" style="padding-left:0px;">
                    MediTrain South has developed workplace First Aid training specifically for secondary school students. 
                </p>
                <p class="">
                    The training is designed to provide students with relevant First Aid skills, be assessed against credits on the National Qualifications Framework (NQF), suit students learning style and fit within school hours.
                </p>
            </div>
            <div class="row m-center">
                <div class="col l1 hide-on-small-only"></div>

                <a href="#meditrainForSchools" class="btn-large waves-effect waves-light indigo lighten-1">
                    More Info
                </a>
                <a href="tel:+64277477695" id="PhoneUs-button" class="font-weight-bold transparent btn-large">
                    Phone us<span class="hide-on-med-and-down">: 027 747 7695</span>
                </a>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="~/lib/images/baner-school.jpg" alt="First Aid Meditrain For School" style="transform: translate3d(-50%, 230.533px, 0px); opacity: 1;"></div>
</div>

<div class="padding-2 z-depth-2">
    <h3></h3>
</div>
<div class="row z-depth-2 valign-wrapper-m-and-above" style="padding-top:30px;padding-bottom:20px;">
    <div id="meditrainForSchools" class="col m7">
        <div class="container" style="text-align:justify">
            <h4 class="font-weight-bold" style="font-size:2.1rem">Meditrain For Schools</h4>
            <p class="indigo-text font-weight-bold">
                MediTrain South has developed workplace First Aid training specifically for secondary school students. The training is designed to provide students with relevant First Aid skills, be assessed against credits on the National Qualifications Framework (NQF), suit students’ learning style and fit within school hours.
            </p>
            <p>
                The training is delivered in an interactive way that engages students, builds up their confidence and assesses knowledge and competency through a combination of theory and practical scenarios. Our instructors believe that participation, not lecturing, leads to retention of knowledge and development of confidence in dealing with medical emergencies.
            </p>
            <p>
                The training is recognised by the Ministry of Education and Worksafe and accredited by the New Zealand Qualifications Authority (NZQA). As such it provides skills that support the transition of students into further education, training or employment.
            </p>
        </div>
    </div>
    <div class="col m4 pull-m1">
        <div class="card-panel indigo white-text">
            <span class="flow-text">At the completion of the training, each student will receive:</span>
            <ul class="browser-default">
                <li>A certificate showing the course type and unit standards completed,</li>
                <li>Relevant unit standards recorded on student’s NZQA Record of Learning, and</li>
                <li>A practical First Aid Manual for future reference.</li>
            </ul>
        </div>
        <p style="text-align:justify">Each scheduled First Aid course can be attended by one school support person free of charge. This person can be a school employee (for example a teacher or an administrator) or any other person assigned by the school (for example a coach).</p>
    </div>
</div>

<div class="row z-depth-2">
    <p class="btn orange lighten-1 margin-y-1" style="pointer-events:none;border-radius: 0px 3px 3px 0px">Topics covered</p>
    <div class="offset-m1 col m10 padding-md-header">
        <ul class="col m6 browser-default">
            <li class="margin-1 hoverable" style="text-align:justify"><span class="">Approaching an Accident Scene</span></li>
            <li class="margin-1 hoverable" style="text-align:justify"><span class="">Overview of regulations relating to accidents in the workplace</span></li>
            <li class="margin-1 hoverable" style="text-align:justify"><span class="">Barriers</span></li>
            <li class="margin-1 hoverable" style="text-align:justify"><span class="">Rescue Breathing - adult / child / infant</span></li>
            <li class="margin-1 hoverable" style="text-align:justify"><span class="">Primary Assessment</span></li>
            <li class="margin-1 hoverable" style="text-align:justify"><span class="">CPR - adult / child / infant</span></li>
            <li class="margin-1 hoverable" style="text-align:justify"><span class="">External and Internal bleeding</span></li>
            <li class="margin-1 hoverable" style="text-align:justify"><span class="">Shock & Recovery Position</span></li>
            <li class="margin-1 hoverable" style="text-align:justify"><span class="">Heart Attack</span></li>
            <li class="margin-1 hoverable" style="text-align:justify"><span class="">Soft Tissue Injuries - Sprains & strains</span></li>
        </ul>
        <ul class="col m6 browser-default">
            <li class="margin-1 hoverable" style="text-align:justify"><span class="">Stroke</span></li>
            <li class="margin-1 hoverable" style="text-align:justify"><span class="">Illness Assessment</span></li>
            <li class="margin-1 hoverable" style="text-align:justify"><span class="">Seizures</span></li>
            <li class="margin-1 hoverable" style="text-align:justify"><span class="">Allergies</span></li>
            <li class="margin-1 hoverable" style="text-align:justify"><span class="">Asthma</span></li>
            <li class="margin-1 hoverable" style="text-align:justify"><span class="">Poisoning</span></li>
            <li class="margin-1 hoverable" style="text-align:justify"><span class="">Burns & Scalds</span></li>
            <li class="margin-1 hoverable" style="text-align:justify"><span class="">Fracture & dislocations</span></li>
            <li class="margin-1 hoverable" style="text-align:justify"><span class="">Choking - adult / child / infant – Conscious and Unconscious</span></li>
        </ul>
    </div>
</div>


<div class="z-depth-2" style="padding-bottom:30px;">
    <div style="padding-bottom:0px;padding-left:30px;padding-top:30px;">
        <h4 class="indigo-text">NZQA Credits</h4>
    </div>
    <div class="row" style="margin-bottom:0px;">
        <div class="col m7" style="text-align:justify; padding-left:30px;margin-right:30px;">
            <p>
                Meditrain South is a registered Private Training Establishment that offers first aid courses that are recognized by Worksafe as Workplace First Aid Course and are accredited by the New Zealand Qualification Authority and the Ministry of Education.
            </p>
            <p>
                The unit standards associated with this course are:
            </p>
            <ul class="browser-default">
                <li class="margin-y-1"><span class="font-weight-bold">6400</span> - Manage first aid in emergency situation (level 3, 2 credits)</li>
                <li class="margin-y-1"><span class="font-weight-bold">6401</span> - Provide First Aid - Version 6, Level 2, Credits 1</li>
                <li class="margin-y-1"><span class="font-weight-bold">6402</span> - Provide Basic Life Support - Version 8, Level 1, Credits 1</li>
            </ul>
            <a asp-controller="Contact" asp-action="index" class="btn btn-small waves-effect waves-light">Contact Us</a>
        </div>
    </div>
</div>
