@{
    ViewBag.Title = "MediTrain South - Pre-Hospital Emergency Care";
}
<div id="index-banner" class="parallax-container parallax-container-customHeight overlayBackgroundColor" style="">
    <div class="section">
        <div class="container">
            <br>
            <h1 class="header orange-text text-lighten-5 header-top-0 m-center" style="font-size: 3.4rem;">
                Pre-Hospital Emergency Care
            </h1>
            <div class="header white-text light">
                <p class="" style="padding-left:0px;">
                    This certified course is designed to train a person to be capable of providing advanced care in any situation.
                </p>
                <p class="">
                    Attendees are trained to a high standard of patient care with both instructor and peer assessments throughout the course. More than 50% of the course is practical so that attendees gain the confidence and competency to use the various techniques taught throughout the course.
                </p>
            </div>
            <div class="row m-center">
                <div class="col l1 hide-on-small-only"></div>

                <a href="#preHospitalEmergencyCare" class="btn-large waves-effect waves-light indigo lighten-1">
                    More Info
                </a>
                <a href="tel:+64277477695" id="PhoneUs-button" class="font-weight-bold transparent btn-large">
                    Phone us<span class="hide-on-med-and-down">: 027 747 7695</span>
                </a>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="~/lib/images/banner-pre-hospital.jpg" alt="Pre-hospital Emergency Care New Zealand Meditrain South" style="transform: translate3d(-50%, 230.533px, 0px); opacity: 1;"></div>
</div>

<div class="padding-2 z-depth-2">
    <h3></h3>
</div>
<div class="row z-depth-2 valign-wrapper-m-and-above" style="padding-top:30px;padding-bottom:20px;">
    <div id="preHospitalEmergencyCare" class="col m7">
        <div class="container" style="text-align:justify">
            <h4 class="font-weight-bold" style="font-size:2.1rem">Pre-Hospital Emergency Care</h4>
            <p class="indigo-text font-weight-bold">
                Attendees are trained to a high standard of patient care with both instructor and peer assessments throughout the course. More than 50% of the course is practical so that attendees gain the confidence and competency to use the various techniques taught throughout the course.
            </p>
            <p>
                This is a very comprehensive course requiring prior study and pre-examination before attending the course to practice the scenario-based skills. Assessment is based on a combination of practical and written activities.
            </p>
        </div>
    </div>
    <div class="col m4 pull-m1">
        <div class="card-panel indigo white-text">
            <span class="flow-text">Prerequisite</span>
            <p>A current First Aid Certificate is required. Please note, we will need to sight your certificate to ensure that it is current. A working knowledge of first aid is highly recommended.</p>
            <span class="flow-text">Who should attend?</span>
            <p>Persons over the age of sixteen who have a thorough working knowledge of first aid and who wish to extend these skills further. This course is especially suited to attendee whose workplace has specific dangers or is some distance from emergency services.</p>
        </div>
    </div>
</div>

<div class="row z-depth-2">
    <p class="btn orange lighten-1 margin-y-1" style="pointer-events:none;border-radius: 0px 3px 3px 0px">Topics covered</p>
    <div class="row">
        <div class="offset-m1 col m10 padding-md-header">
            <ul class="col m6 browser-default">
                <li class="margin-1 hoverable" style="text-align:justify"><span class="">Basic Life Support Revision</span></li>
                <li class="margin-1 hoverable" style="text-align:justify"><span class="">Ventilation Air / AED</span></li>
                <li class="margin-1 hoverable" style="text-align:justify"><span class="">Crisis Team</span></li>
                <li class="margin-1 hoverable" style="text-align:justify"><span class="">Suction</span></li>
                <li class="margin-1 hoverable" style="text-align:justify"><span class="">Gas Cylinders</span></li>
                <li class="margin-1 hoverable" style="text-align:justify"><span class="">Respiration / Oxygen</span></li>
            </ul>
            <ul class="col m6 browser-default">
                <li class="margin-1 hoverable" style="text-align:justify"><span class="">Airway Adjuncts</span></li>
                <li class="margin-1 hoverable" style="text-align:justify"><span class="">Splinting</span></li>
                <li class="margin-1 hoverable" style="text-align:justify"><span class="">Spinal Trauma</span></li>
                <li class="margin-1 hoverable" style="text-align:justify"><span class="">Specific Conditions</span></li>
                <li class="margin-1 hoverable" style="text-align:justify"><span class="">All skills are scenario based and cover one-rescuer and two-rescuer situations</span></li>
            </ul>
        </div>
    </div>
    <div class="row col offset-s1">
        Note:
        The use of Entonox (pain relief) can be covered upon request.
    </div>
</div>


<div class="z-depth-2" style="padding-bottom:30px;">
    <div style="padding-bottom:0px;padding-left:30px;padding-top:30px;">
        <h4 class="indigo-text">NZQA Credits</h4>
    </div>
    <div class="row" style="margin-bottom:0px;">
        <div class="col m7" style="text-align:justify; padding-left:30px;margin-right:30px;">
            <p>
                Meditrain South is a registered Private Training Establishment that offers first aid courses that are recognized by Worksafe as Workplace First Aid Course and are accredited by the New Zealand Qualification Authority and the Ministry of Education.
            </p>
            <p>
                The unit standards associated with this course are:
            </p>
            <ul class="browser-default">
                <li class="margin-y-1"><span class="font-weight-bold">29321</span> - Provide basic emergency care - (Level 3, 14 credits)</li>
            </ul>
            <a asp-controller="Contact" asp-action="index" class="btn btn-small waves-effect waves-light">Contact Us</a>
        </div>
    </div>
</div>
