@{
    ViewBag.Title = "MediTrain South - Basic Life Support (CPR)";
}
<div id="index-banner" class="parallax-container parallax-container-customHeight overlayBackgroundColor" style="">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header orange-text text-lighten-5 header-top-0 m-center" style="font-size: 3.4rem;">
                Basic Life Support (CPR)
            </h1>
            <div class="header white-text light">
                <p class="" style="padding-left:0px;">
                    This certificated course concentrates on the life saving skills of Cardiopulmonary Resuscitation, which is rescue breathing together with chest (i.e. heart) compressions.
                </p>
                <p>
                    This is a practical course in which you will spend 75% of the time practicing the techniques for CPR and choking. This course should be refreshed within two years to ensure certificate holders update and refresh their knowledge and practical skills in all major areas.
                </p>
            </div>
            <div class="row m-center">
                <div class="col l1 hide-on-small-only"></div>

                <a href="#comprehensiveWorkplaceFirstAidInfo" class="btn-large waves-effect waves-light indigo lighten-1">
                    More Info
                </a>
                <a href="tel:+64277477695" id="PhoneUs-button" class="font-weight-bold transparent btn-large">
                    Phone us<span class="hide-on-med-and-down">: 027 747 7695</span>
                </a>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="~/lib/images/banner.jpg" alt="Basic Life Support (CPR) Course Meditrain South" style="transform: translate3d(-50%, 230.533px, 0px); opacity: 1;"></div>
</div>

<div class="padding-2 z-depth-2">
    <h3></h3>
</div>
<div class="row z-depth-2 valign-wrapper-m-and-above" style="padding-top:30px;padding-bottom:20px;">
    <div id="comprehensiveWorkplaceFirstAidInfo" class="col m7">
        <div class="container" style="text-align:justify">
            <h4 style="text-align:left" class="font-weight-bold">Basic Life Support (CPR)</h4>
            <p class="indigo-text font-weight-bold">
                The Basic Life Support Course covers the most critical methods of saving a life in common situations.
            </p>
            <p>
                This is a practical course in which you will spend 75% of the time practicing the techniques for CPR and choking. This course should be refreshed within two years to ensure certificate holders update and refresh their knowledge and practical skills in all major areas.
            </p>
        </div>
    </div>
    <div class="col m4 pull-m1">
        <div class="card-panel indigo white-text">
            <span class="flow-text">Who should attend?</span>
            <p>Persons over 16 years of age. Particularly people who work in life threatening environments, people working with electricity, life guards, swimming pool owners/attendants, caregivers responsible for those with a heart condition, parents of infants at risk.</p>
        </div>
    </div>
</div>

<div class="row z-depth-2">
    <p class="btn orange lighten-1 margin-y-1" style="pointer-events:none;border-radius: 0px 3px 3px 0px">Topics covered</p>
    <div class="offset-m1 col m10 padding-md-header">
        <ul class="col m6 browser-default">
            <li class="margin-1 hoverable" style="text-align:justify"><span class="">Barriers & Safety</span></li>
            <li class="margin-1 hoverable" style="text-align:justify"><span class="">Recognising respiratory and cardiac arrest</span></li>
            <li class="margin-1 hoverable" style="text-align:justify"><span class="">Rescue breathing</span></li>
            <li class="margin-1 hoverable" style="text-align:justify"><span class="">Choking manoeuvres</span></li>
            <li class="margin-1 hoverable" style="text-align:justify"><span class="">Signs and symptoms of a heart attack</span></li>
            <li class="margin-1 hoverable" style="text-align:justify"><span class="">Care of a heart attack</span></li>
            <li class="margin-1 hoverable" style="text-align:justify"><span class="">CPR – Cardio-pulmonary resuscitation</span></li>
        </ul>
    </div>
</div>


<div class="z-depth-2" style="padding-bottom:30px;">
    <div style="padding-bottom:0px;padding-left:30px;padding-top:30px;">
        <h4 class="indigo-text">NZQA Credits</h4>
    </div>
    <div class="row" style="margin-bottom:0px;">
        <div class="col m7" style="text-align:justify; padding-left:30px;margin-right:30px;">
            <p>
                Meditrain South is a registered Private Training Establishment that offers first aid courses that are recognized by Worksafe as Workplace First Aid Course and are accredited by the New Zealand Qualification Authority and the Ministry of Education.
            </p>
            <p>
                The unit standards associated with this course are:
            </p>
            <ul class="browser-default">
                <li class="margin-y-1"><span class="font-weight-bold">6402</span> - Provide Basic Life Support - Version 8, Level 1, Credits 1</li>
            </ul>
            <a asp-controller="Contact" asp-action="index" class="btn btn-small waves-effect waves-light">Contact Us</a>
        </div>
    </div>
</div>
