@{
    ViewBag.Title = "MediTrain South - First Aid For Young Children and Infant";
}
<div id="index-banner" class="parallax-container parallax-container-customHeight overlayBackgroundColor" style="">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header orange-text text-lighten-5 header-top-0 m-center" style="font-size: 3.4rem;">
                First Aid for Young Children and Infant
            </h1>
            <div class="header white-text light">
                <p class="" style="padding-left:0px;">
                    This course covers aspects of child and infant first aid. Recommended for parents,
                    grandparents, babysitters or other family caregivers.
                </p>
            </div>
            <div class="row m-center">
                <div class="col l1 hide-on-small-only"></div>

                <a href="#firstAidForYoungChildren" class="btn-large waves-effect waves-light indigo lighten-1">
                    More Info
                </a>
                <a href="tel:+64277477695" id="PhoneUs-button" class="font-weight-bold transparent btn-large">
                    Phone us<span class="hide-on-med-and-down">: 027 747 7695</span>
                </a>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="~/lib/images/banner-cpr-children.jpg" alt="Childcare First Aid Meditrain South" style="transform: translate3d(-50%, 230.533px, 0px); opacity: 1;"></div>
</div>

<div class="padding-2 z-depth-2">
    <h3></h3>
</div>
<div class="row z-depth-2 valign-wrapper-m-and-above" style="padding-top:30px;padding-bottom:20px;">
    <div id="firstAidForYoungChildren" class="col m7">
        <div class="container" style="text-align:justify">
            <h4 style="text-align:left" class="font-weight-bold">First Aid for Young Children and Infant</h4>
            <p class="indigo-text font-weight-bold">
                This course covers aspects of child and infant first aid. Recommended for parents,
                grandparents, babysitters or other family caregivers.
            </p>
            <p>
                This course is recognized for home-based
                education for young children. This is done in a relaxed environment and small children are welcome to attend with you.
            </p>
        </div>
    </div>
    <div class="col m4 pull-m1">
        <div class="card-panel indigo white-text">
            <span class="flow-text">Course duration</span>
            <p>This is a 3 hour course that is done on relaxed environment.</p>
            <span class="flow-text">Who should attend?</span>
            <p>Persons over the age of sixteen who are to be appointed as the designated First Aid person for children and people wanting a thorough knowledge of First Aid specializing in childcare.</p>
        </div>
    </div>
</div>

<div class="row z-depth-2">
    <p class="btn orange lighten-1 margin-y-1" style="pointer-events:none;border-radius: 0px 3px 3px 0px">Topics covered</p>
    <div class="offset-m1 col m10 padding-md-header">
        <ul class="col m6 browser-default">
            <li class="margin-1 hoverable" style="text-align:justify"><span class="">Barriers and Safety</span></li>
            <li class="margin-1 hoverable" style="text-align:justify"><span class="">Primary Assessment</span></li>
            <li class="margin-1 hoverable" style="text-align:justify"><span class="">Rescue Breathing</span></li>
            <li class="margin-1 hoverable" style="text-align:justify"><span class="">Choking manoeuvres</span></li>
            <li class="margin-1 hoverable" style="text-align:justify"><span class="">CPR – Cardio-pulmonary resuscitation</span></li>
            <li class="margin-1 hoverable" style="text-align:justify"><span class="">Seizures</span></li>
        </ul>
        <ul class="col m6 browser-default">
            <li class="margin-1 hoverable" style="text-align:justify"><span class="">Fractures</span></li>
            <li class="margin-1 hoverable" style="text-align:justify"><span class="">Burns</span></li>
            <li class="margin-1 hoverable" style="text-align:justify"><span class="">External bleeding</span></li>
            <li class="margin-1 hoverable" style="text-align:justify"><span class="">Poisoning</span></li>
            <li class="margin-1 hoverable" style="text-align:justify"><span class="">Allergies</span></li>
            <li class="margin-1 hoverable" style="text-align:justify"><span class="">Anaphyxalis</span></li>
        </ul>
    </div>
</div>


<div class="z-depth-2" style="padding-bottom:30px;">
    <div style="padding-bottom:0px;padding-left:30px;padding-top:30px;">
        <h4 class="indigo-text">NZQA Credits</h4>
    </div>
    <div class="row" style="margin-bottom:0px;">
        <div class="col m7" style="text-align:justify; padding-left:30px;margin-right:30px;">
            <p>
                Meditrain South is a registered Private Training Establishment that offers first aid courses that are recognized by Worksafe as Workplace First Aid Course and are accredited by the New Zealand Qualification Authority and the Ministry of Education.
            </p>
            <p>
                The unit standards associated with this course are:
            </p>
            <ul class="browser-default">
                <li class="margin-y-1"><span class="font-weight-bold">25459</span> - Provide First Aid for Young Children - Version 4, Level 2, Credits 1</li>
            </ul>
            <a asp-controller="Contact" asp-action="index" class="btn btn-small waves-effect waves-light">Contact Us</a>
        </div>
    </div>
</div>
