@{
    ViewBag.Title = "MediTrain South - First Aid Kits";
}
    <div id="index-banner" class="parallax-container parallax-container-customHeight" style="background-color: rgba(0,150,136,0.6); ">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header orange-text text-lighten-5 header-top-0 m-center" style="font-size: 3.4rem;">
                    First Aid Kits
                </h1>
                <div class="header white-text light">
                    <p class="" style="padding-left:0px;">
                        Meditrain South has the following first aid kits available for purchase to the public.
                    </p>
                    <p class="">
                        We provide First Aid Kits to be used on the emergency situation when you needs it.
                    </p>
                </div>
                <div class="row m-center">
                    <div class="col l1 hide-on-small-only"></div>

                    <a href="#FirstAidKitPanel" class="btn-large waves-effect waves-light teal lighten-1">
                        More Info
                    </a>
                    <a href="tel:+64277477695" id="PhoneUs-button" class="font-weight-bold transparent btn-large">
                        Phone us<span class="hide-on-med-and-down">: 027 747 7695</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="~/lib/images/bg-section.jpg" alt="First Aid Kits Meditrain South" style="transform: translate3d(-50%, 230.533px, 0px); opacity: 1;"></div>
    </div>

<div class="padding-2 z-depth-2">
    <h3></h3>
</div>
<div class="row z-depth-2" style="padding-bottom:30px;padding-top:30px;">
    <div id="FirstAidKitPanel" class="col m8 center offset-m2">
        <div class="container ">
            <h3 class="teal-text" >
                Our First Aid Kits     
            </h3>
            <p>
                The first aid kits comes in package that contain essential items for emergency preparedness. Make sure you are always ready to respond to medical emergency with the right kit.
            </p>
            <a href="#ourProducts" class="btn btn-block">Our Product</a>
        </div>
    </div>

    <div class="col m12 padding-2">
        <div class="padding-md-header">
            <div class="divider margin-y-2" id="ourProducts"></div>
            <div class="col s12 m3">
                <div class="card">
                    <div class=" card-content blue-text">
                        <span class="card-title  font-weight-bold" style="font-size:1.8rem;">Basic Vehicle First Aid Kit</span>
                    </div>
                    <div class="card-image">
                        <img src="~/lib/images/kit-vehicle-wC9aa.jpg" alt="basic vehicle first aid kit">
                    </div>
                    <div class="card-content">
                        <p class="font-weight-bold teal-text waves-light" style="font-size:1.4rem">Small soft carry pouch</p>
                        <ul class=" browser-default">
                            <li>Bandages</li>
                            <li>Eye pad</li>
                            <li>Wound dressings</li>
                            <li>Gauze swabs</li>
                            <li>Wipes</li>
                            <li>Plasters</li>
                            <li>Paper tape</li>
                            <li>First aid tweezers</li>
                            <li>Wire scissors</li>
                            <li>Safety pins</li>
                            <li>Disposable gloves and Resusciaid (CPR face shield)</li>
                        </ul>
                    </div>
                    <div class="card-action teal white-text center font-weight-bold">
                        Price: $30.00 (Including GST)
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card">
                    <div class=" card-content blue-text">
                        <span class="card-title  font-weight-bold" style="font-size:1.8rem;">Basic First Aid Kit</span>
                    </div>
                    <div class="card-image">
                        <img src="~/lib/images/kit-basic-kit-3T460.jpg" alt="basic first aid kit">
                    </div>
                    <div class="card-content">
                        <p class="font-weight-bold teal-text waves-light" style="font-size:1.4rem">Small soft carry pouch</p>
                        <ul class="browser-default">
                            <li>Bandages</li>
                            <li>Eye dressing</li>
                            <li>Wound dressings</li>
                            <li>Gauze swabs</li>
                            <li>Wipes</li>
                            <li>Irrigation solution</li>
                            <li>Plasters</li>
                            <li>Adhesive plaster roll</li>
                            <li>Tweezers</li>
                            <li>Scissors</li>
                            <li>Safety pins</li>
                            <li>Disposable gloves and Resusciaid (CPR face shield)</li>
                        </ul>
                    </div>
                    <div class="card-action teal white-text center font-weight-bold">
                        Price: $45.00 (Including GST)
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card">
                    <div class=" card-content blue-text">
                        <span class="card-title font-weight-bold" style="font-size:1.8rem;">1 to 5 Persons First Aid Kit</span>
                    </div>
                    <div class="card-image">
                        <img src="~/lib/images/kit-pouch-i7sXc.jpg" alt="1 to 5 Persons First Aid Kit">
                    </div>
                    <div class="card-content">
                        <p class="font-weight-bold teal-text waves-light" style="font-size:1.4rem">Small soft carry pouch</p>
                        <ul class=" browser-default">
                            <li>Bandages</li>
                            <li>Eye dressings and Eye pads</li>
                            <li>Wound dressings</li>
                            <li>Non adharent dressing</li>
                            <li>Gauze swabs</li>
                            <li>Wipes</li>
                            <li>Irrigation solution</li>
                            <li>Plasters</li>
                            <li>Adhesive plaster roll</li>
                            <li>Plaster dressing strip</li>
                            <li>Tweezers</li>
                            <li>Scissors</li>
                            <li>Safety pins</li>
                            <li>Disposable gloves and Resusciaid (CPR face shield)</li>
                        </ul>
                    </div>
                    <div class="card-action teal white-text center font-weight-bold">
                        Price: $70.00 (Including GST)
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card">
                    <div class=" card-content blue-text">
                        <span class="card-title font-weight-bold" style="font-size:1.8rem;">1 to 25 Persons First Aid Kit</span>
                    </div>
                    <div class="card-image">
                        <img src="~/lib/images/kit-pouch-i7sXc.jpg" alt="1 to 25 Persons First Aid Kit">
                    </div>
                    <div class="card-content">
                        <p class="font-weight-bold teal-text waves-light" style="font-size:1.4rem">Medium soft carry pouch / Wall mountable metal box</p>

                        <ul class=" browser-default">
                            <li>Bandages</li>
                            <li>Eye dressings and pads</li>
                            <li>Wound dressings</li>
                            <li>Non adherent dressings</li>
                            <li>Combine dressings</li>
                            <li>Gauze swabs</li>
                            <li>Wipes</li>
                            <li>Irrigation solution</li>
                            <li>Adhesive plaster roll</li>
                            <li>Plasters dressing strip</li>
                            <li>Tweezers</li>
                            <li>Scissors</li>
                            <li>Safety pins</li>
                            <li>Disposable gloves and Resusciaid (CPR face shield)</li>
                        </ul>
                    </div>
                    <div class="card-action teal white-text center font-weight-bold">
                        Price: $90.00 (Including GST)
                    </div>
                </div>
            </div>
            <div class="col s12 m4 offset-m4">
                <a asp-controller="Contact" asp-action="Index" class="btn btn-block indigo">Contact Us to order</a>
            </div>
        </div>
    </div>
</div>
