@{
    ViewBag.Title = "MediTrain South - Advanced Life Support Course For Dental Professionals";
}
<div id="index-banner" class="parallax-container parallax-container-customHeight overlayBackgroundColor" style="">
    <div class="section">
        <div class="container">
            <br>
            <h1 class="header orange-text text-lighten-5 header-top-0 m-center" style="font-size: 3.4rem;">
                Advanced Life Support Course For Dental Professionals
            </h1>
            <div class="header white-text light">
                <p class="" style="padding-left:0px;">
                    Studies have shown that medical emergencies do occur in the dental practice. Dental practitioners and their staff need to have appropriate skills, training and equipment available to deal with potentially life threatening conditions.
                </p>
            </div>
            <div class="row m-center">
                <div class="col l1 hide-on-small-only"></div>

                <a href="#advancedCourseForDentalProfessionals" class="btn-large waves-effect waves-light indigo lighten-1">
                    More Info
                </a>
                <a href="tel:+64277477695" id="PhoneUs-button" class="font-weight-bold transparent btn-large">
                    Phone us<span class="hide-on-med-and-down">: 027 747 7695</span>
                </a>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="~/lib/images/banner-dental.jpg" alt="Advanced Life Support For Dental Professional New Zealand - Meditrain South" style="transform: translate3d(-50%, 230.533px, 0px); opacity: 1;"></div>
</div>

<div class="padding-2 z-depth-2">
    <h3></h3>
</div>
<div class="row z-depth-2 " style="padding-top:30px;padding-bottom:20px;">
    <div id="advancedCourseForDentalProfessionals" class="col l7">
        <div class="container" style="text-align:justify">
            <h4 class="font-weight-bold" style="font-size:2.1rem;text-align:left">Advanced Life Support Course For Dental Professionals</h4>
            <p class="indigo-text font-weight-bold">
                Studies have shown that medical emergencies do occur in the dental practice. Dental practitioners and their staff need to have appropriate skills, training and equipment available to deal with potentially life threatening conditions.
            </p>
            <p>
                Dental Professionals must have completed training to a level equivalent to the NZRC Certificate of Resuscitation and Emergency Care (CORE) Level 4. CORE 4 is also suitable for dental surgery and receptionists for whom the CORE 4 final practical and written assessments are optional. This training must be revalidated every four years.
            </p>
            <p>
                Up-to-date drugs and equipment, as listed in this code, must be operational and readily available in all dental practices.
            </p>
        </div>
    </div>
    <div class="col l4 pull-l1">
        <div class="card-panel indigo white-text">
            <span class="flow-text">Who should attend?</span>
            <p>
                All staff in the dental practice should have appropriate training: dental practitioners, Level 4 New Zealand Resuscitation Council Certificate of Resuscitation and Emergency Care (CORE) or equivalent; dental surgery assistants, reception and other staff, attendance at a Level 4 course with optional assessment of practical and theoretical skills.
            </p>
        </div>
        <p style="text-align:justify">
            Note: Those not completing formal assessment will require an NZRC letter of attendance. A team approach to management of medical emergencies should be developed. Protocols should be in place so that all staff members know their role in managing emergency situations. The dental team should regularly practice scenarios within the dental practice setting.
        </p>
    </div>
</div>

<div class="row z-depth-2">
    <p class="btn orange lighten-1 margin-y-1" style="pointer-events:none;border-radius: 0px 3px 3px 0px">Topics covered</p>
    <div class="row" style="margin-bottom:0px;">
        <div class="offset-m1 col m10 padding-md-header">
            <ul class="col m6 browser-default">
                <li class="margin-1 hoverable" style="text-align:justify"><span class="">Basic Life Support Revision</span></li>
                <li class="margin-1 hoverable" style="text-align:justify"><span class="">Artificial Ventilation / Air</span></li>
                <li class="margin-1 hoverable" style="text-align:justify"><span class="">Automated External Defibrillators</span></li>
                <li class="margin-1 hoverable" style="text-align:justify"><span class="">Suction</span></li>
                <li class="margin-1 hoverable" style="text-align:justify"><span class="">Respiration</span></li>
                <li class="margin-1 hoverable" style="text-align:justify"><span class="">Oxygen and Oxygen Delivery Devices</span></li>
                <li class="margin-1 hoverable" style="text-align:justify"><span class="">O2 Therapy and Ventilation</span></li>
                <li class="margin-1 hoverable" style="text-align:justify"><span class="">Airway Adjuncts</span></li>
                <li class="margin-1 hoverable" style="text-align:justify"><span class="">The Oropharyngeal Airway</span></li>
            </ul>
            <ul class="col m6 browser-default">
                <li class="margin-1 hoverable" style="text-align:justify"><span class="">Laryngeal Mask Airway</span></li>
                <li class="margin-1 hoverable" style="text-align:justify"><span class="">Response Team</span></li>
                <li class="margin-1 hoverable" style="text-align:justify"><span class="">First Aid Specific Conditions</span></li>
                <li class="margin-1 hoverable" style="text-align:justify"><span class="">Anaphylaxis</span></li>
                <li class="margin-1 hoverable" style="text-align:justify"><span class="">Hyperventilation</span></li>
                <li class="margin-1 hoverable" style="text-align:justify"><span class="">Seizures</span></li>
                <li class="margin-1 hoverable" style="text-align:justify"><span class="">Advanced Life Support for Infants and Children</span></li>
                <li class="margin-1 hoverable" style="text-align:justify"><span class="">Airway Obstruction / Choking</span></li>
            </ul>
        </div>
        
    </div>
    <div class="row center">
        <a asp-controller="Contact" asp-action="index" class="btn btn-small waves-effect waves-light">Contact Us to Schedule for booking</a>
    </div>
</div>

